<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gift Exchange App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/index.css">
  </head>

  <body>
    <div class="background">

      <div class="container-fluid">
        <div class="row">
          <h1 style="text-align: center;">Welcome to the Gift Exchange App</h1>
        </div>

        <hr>



        <hr>

        <div class="row">
          <div class="col-md-6">
            <form method="POST" action="/register" id="register">
              <div>
                <label>Enter your name:</label>
                <input type="text" name="name" required>
                <label>Enter your spouse name:</label>
                <input type="text" name="spouse" placeholder="If applicable">
                <input class="btn btn-default" type="submit" value="Register">
              </div>
            </form>
          </div>
          <div class="col-md-2">
            <form method="POST" action="/draw" id="draw">
              <input class="btn btn-info btn-block" type="submit" value="Draw">
            </form>
          </div>
          <form method="POST" action="/find" id="find">
            <div>
              <label>Enter your name to see who you're matched with:</label>
              <input type="text" name="name" required>
              <input class="btn btn-default" type="submit" value="Search">
            </div>
          </form>
          <div class="col-md-2">
            <form method="POST" action="/winners" id="winners">
              <input class="btn btn-success btn-block" type="submit" value="Winners">
            </form>
          </div>
          <div class="col-md-2">
            <form method="POST" action="/restart">
              <input class="btn btn-warning btn-block" type="submit" value="Restart">
            </form>
          </div>
        </div>

        <hr>
        <div id="message">

        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <h3>Members:</h3>
            <section id="members"></section>
          </div>
          <div class="col-md-3">
            <h3>Gift Exchange:</h3>
            <section id="giftExchange"></section>
          </div>
          <div class="col-md-5">
            <h3>Results:</h3>
            <section id="results"></section>
          </div>
        </div>
      </div>
    </div>


    <footer>
       <div class="container">
         <div class="row text-center">
            <ul class="list-inline">
               <li>
                    <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
               </li>
               <li>
                 <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
               </li>
               <li>
                    <a href="#"><i class="fa fa-share-alt fa-2x"></i></a>
               </li>
             </ul>
        </div>

        <div class="row text-center">
          <ul class="menu list-inline">
             <li>
                <a href="#">Home</a>
              </li>
              <li>
                 <a href="#">About</a>
              </li>
              <li>
                <a href="#">Contact</a>
             </li>
         </ul>
        </div>
      </div>
    </footer>

    <div class="copyright">
     <div class="container">

         <div class="row text-center">
         	<p>© 2018 Amir Ghandeharioon</p>
         </div>

 	   </div>
    </div>




    <!-- jQuery -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    <!-- Index JS -->
    <script type="text/javascript" src="/scripts/index.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
